div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(14, 230, 104, 0.521);
  margin: 0 auto;
  border-radius: 50%;
  height: 225px;
  width: 225px;
  margin: 3rem
  ;
}

.white {
  color: aliceblue;
}
