<section>
  <div class="pink">
    <label for="name">Who is dancing</label>
    <input type="text" class="form-control" [(ngModel)]="name">
    <hr>
    <label for="danz">Your Dance Motto</label>
    <!-- <input type="text" class="form-control" (input)="onUpdateAnswer($event)"> -->
    <input type="text" class="form-control" [(ngModel)]="answer">
    <hr>
    <button class="btn btn-secondary" (click)="onCreateDance()" [disabled]="answer === '' || name === ''">Ready</button>
    <hr>

    <!-- <p>{{ answer }}</p> -->
  </div>
  <div *ngIf="submitted; else notDancing" class="blue">
    <p [style]="colorsChange" [innerText]="yourName + dance"></p>
  </div>
  <ng-template #notDancing>
    <pm-warning-alert></pm-warning-alert>
  </ng-template>
</section>

