section {
  display: flex;
  display: inline-flex;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
}

.pink {
  background-color: rgba(245, 65, 140, 0.877);
  border-radius: 50%;
  height: 300px;
  width: 300px;
  margin-top: 3rem;
}

.blue {
  background-color: rgba(21, 226, 226, 0.877);
  border-radius: 50%;
  height: 200px;
  width: 200px;
  margin-left: 3rem;
}

p {
  margin: 0;
  width: 75%;
}
.form-control {
  width: 50%;
}

/* .new-color {
  background-color: rgba(27, 247, 192, 0.774);
} */
